@model IEnumerable<NautralShop.Models.Voucher>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Quản lý voucher";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    DateTime currentDate = DateTime.Now;
    var successMessage = TempData["SuccessMessage"] as string;
}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif
    }

    .container_content {
        background-color: #fff;
        width: 100%;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
    }

        .container_content div p {
            color: #000;
        }

    .action i {
        color: var(--colorPage);
    }

        .action i:hover {
            color: var(--colorHoverPage);
        }

    .action .fa-trash {
        color: var(--colorPage);
    }

        .action .fa-trash:hover {
            color: #cc0000;
        }
</style>
<div class="container_content">
    <div class="text-center"><p class="fs-4 fw-bold">Quản lý Voucher</p></div>

    <p>
        <a href="@Url.Action("CreateVoucher","vouchers",new {area = "admin"})" class="btn btn-green mt-4">Thêm mới</a>
    </p>
    <hr />
    <div class="table-responsive">
        <table class="table table-borderless text-center">
            <thead>
                <tr>
                    <th>
                        <p class="fs-5">#</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Tên voucher")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Giá trị giảm giá")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Số lượng")</p>
                    </th>
                    <th>
                        <p>Tình trạng</p>
                    </th>
                    <th> <p class="fs-5">Thao tác</p></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                ++count;
                            }
                            <p>@Convert.ToInt32(count) </p>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.VoucherName) </p>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(model => item.VoucherValue) VNĐ</p>
                        </td>
                        <td>
                            <p> @Html.DisplayFor(modelItem => item.VoucherQuantity) </p>
                        </td>
                        <td>
                            <p @(item.DateExpire < currentDate ? "class=text-danger": "" )>  @(item.DateExpire < currentDate ? "Hết thời hạng" : "Còn thời hạng") </p>
                        </td>
                        <td>
                            <div class="fs-5 action">
                                <a asp-action="DetailVoucher" asp-controller="vouchers" asp-area="admin" asp-route-id="@item.VoucherId" class="btnInfVoucher"><i class="fa-solid fa-circle-info"></i></a>
                                <a asp-action="EditVoucher" asp-controller="vouchers" asp-area="admin" asp-route-id="@item.VoucherId" class="btnEditVoucher"><i class="fa-regular fa-pen-to-square mx-2"></i></a>
                                <a asp-action="DeleteVoucher" asp-controller="vouchers" asp-area="admin" asp-route-id="@item.VoucherId" class="DeleteVoucher"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="notice" class="position-fixed" role="alert" style="z-index:10000; top:5%; right:2%; background-color: rgba(36, 200, 104, 0.8); border-radius: 2.5rem;">
        <div class="d-flex justify-content-around align-items-center p-3">

            <div>
                <i class="fas fa-check fs-2" style="background-color: rgba(36, 200, 104, 1); border-radius:50%; color:white;"></i>
            </div>

            <div>
                <p class="text-white mb-0 ms-3">@successMessage</p>
            </div>

        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(() => {

        //alert success
        if ($("#notice").is(':visible')) {
            $("#notice").css({ "position": "fixed", "top": "5%", "right": "2%" })

            $("#notice").fadeIn(3000, function () {
                $("#notice").fadeOut(5000)
            });
        }
    });
</script>