@{
    ViewData["Title"] = "Trang chủ";
    var successMessage = TempData["SuccessMessage"] as string;
}

<partial name="_PartialSlider.cshtml" />

<partial name="_PartialAboutMe" />

<div class="container">
    <main role="main" class="pb-3">
        <!-- QUANTUM BEAUTY WORLD -->
        <div class="container mt-3">
            <h2 class="text-uppercase" style="text-align: center;">QUANTUM BEAUTY WORLD</h2>
            <div class="progress mx-auto" style="height: 2px;width: 30%;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Success striped example" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- groupcard -->
            <div class="row row-cols-2 row-cols-md-4 g-4 my-3 text-center">
                @foreach (var item in ViewData["productCate1"] as List<Product>?? new List<Product>())
                {
                    <div class="col">
                        <a class="text-decoration-none" asp-action="DetailProduct" asp-controller="home" asp-route-id=@item.ProductId>
                            <div class="card h-100">
                                <img src="@item.ProductImage" class="card-img-top" alt="ảnh sản phẩm">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">@item.ProductName</h5>
                                    <p class="card-text text-danger">@Convert.ToInt32(item.ProductPrice - item.ProductValuePromotion).ToString("n0")<span class="text-decoration-underline">đ</span></p>
                                </div>
                                @* <div class="card-footer bg-white border-top-0 pb-3"><a class="btn btn-green mt-2" asp-action="DetailProduct" asp-controller="home" asp-route-id =@item.ProductId><i class="fa-solid fa-cart-shopping"></i> Mua sản phẩm</a></div> *@
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- QUANTUM DAILY WORLD -->
        <div class="container mt-5">
            <h2 class="text-uppercase" style="text-align: center;">QUANTUM DAILY WORLD</h2>
            <div class="progress mx-auto" style="height: 2px;width: 30%;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Success striped example" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- groupcard -->
            <div class="row row-cols-2 row-cols-md-4 g-4 my-3 text-center">

                @foreach (var item in ViewData["productCate2"] as List<Product> ?? new List<Product>())
                {
                    <div class="col">
                        <a class="text-decoration-none" asp-action="DetailProduct" asp-controller="home" asp-route-id=@item.ProductId>
                            <div class="card h-100">
                                <img src="@item.ProductImage" class="card-img-top" alt="ảnh sản phẩm">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">@item.ProductName</h5>
                                    <p class="card-text text-danger">@Convert.ToInt32(item.ProductPrice - item.ProductValuePromotion).ToString("n0")<span class="text-decoration-underline">đ</span></p>
                                </div>
                                @* <div class="card-footer bg-white border-top-0 pb-3"><a class="btn btn-green mt-2" asp-action="DetailProduct" asp-controller="home" asp-route-id=@item.ProductId><i class="fa-solid fa-cart-shopping"></i> Mua sản phẩm</a></div> *@
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- QUANTUM HEALTHY WORLD -->
        <div class="container mt-5">
            <h2 class="text-uppercase" style="text-align: center;">QUANTUM healthy WORLD</h2>
            <div class="progress mx-auto" style="height: 2px;width: 30%;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Success striped example" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- groupcard -->
            <div class="row row-cols-2 row-cols-md-4 g-4 my-3 text-center">
                @foreach (var item in ViewData["productCate3"] as List<Product> ?? new List<Product>())
                {
                    <div class="col">
                        <a class="text-decoration-none" asp-action="DetailProduct" asp-controller="home" asp-route-id=@item.ProductId>
                            <div class="card h-100">
                                <img src="@item.ProductImage" class="card-img-top" alt="ảnh sản phẩm">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">@item.ProductName</h5>
                                    <p class="card-text text-danger">@Convert.ToInt32(item.ProductPrice - item.ProductValuePromotion).ToString("n0")<span class="text-decoration-underline">đ</span></p>
                                </div>
                                @* <div class="card-footer bg-white border-top-0 pb-3"><a class="btn btn-green mt-2" asp-action="DetailProduct" asp-controller="home" asp-route-id=@item.ProductId><i class="fa-solid fa-cart-shopping"></i> Mua sản phẩm</a></div> *@
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- TIÊU DÙNG XANH AORI -->
        <div class="container mt-5">
            <h2 class="text-uppercase" style="text-align: center;">tiêu dùng xanh aori</h2>
            <div class="progress mx-auto" style="height: 2px;width: 30%;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Success striped example" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- groupcard -->
            <div class="row row-cols-2 row-cols-md-4 g-4 my-3 text-center">
                @foreach (var item in ViewData["productCate4"] as List<Product> ?? new List<Product>())
                {
                    <div class="col">
                        <a class="text-decoration-none" asp-action="DetailProduct" asp-controller="home" asp-route-id=@item.ProductId>
                            <div class="card h-100">
                                <img src="@item.ProductImage" class="card-img-top" alt="ảnh sản phẩm">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">@item.ProductName</h5>
                                    <p class="card-text text-danger">@Convert.ToInt32(item.ProductPrice - item.ProductValuePromotion).ToString("n0")<span class="text-decoration-underline">đ</span></p>
                                </div>
                                @* <div class="card-footer bg-white border-top-0 pb-3"><a class="btn btn-green mt-2" asp-action="DetailProduct" asp-controller="home" asp-route-id=@item.ProductId><i class="fa-solid fa-cart-shopping"></i> Mua sản phẩm</a></div> *@
                            </div>
                        </a>
                    </div>
                }
            </div>

        </div>
    </main>
    <partial name="_PartialCusSayAboutMe" />
</div>

@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="notice" class="position-fixed" role="alert" style="z-index:1000; top:5%; right:2%; background-color: rgba(36, 200, 104, 0.8); border-radius: 2.5rem;">
        <div class="d-flex justify-content-around align-items-center p-3">

            <div>
                <i class="fas fa-check fs-2" style="background-color: rgba(36, 200, 104, 1); border-radius:50%; color:white;"></i>
            </div>

            <div>
                <p class="text-white mb-0 ms-3">@successMessage</p>
            </div>

        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(() => {

        //alert success
        if ($("#notice").is(':visible')) {
            $("#notice").css({ "position": "fixed", "top": "5%", "right": "2%" })

            $("#notice").fadeIn(3000, function () {
                $("#notice").fadeOut(5000)
            });
        }
    });
</script>