@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<NautralShop.Models.Order>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Quản lý đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif
    }

    .container_content {
        background-color: #fff;
        width: 100%;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
    }

        .container_content div p {
            color: #000;
        }

    .action i {
        color: var(--colorPage);
    }

        .action i:hover {
            color: var(--colorHoverPage);
        }

    .action .fa-trash {
        color: var(--colorPage);
    }

        .action .fa-trash:hover {
            color: #cc0000;
        }



    .pagination-container {
        margin-top: 20px;
        text-align: center;
    }

        .pagination-container .pagination {
            display: inline-block;
        }

            .pagination-container .pagination li {
                display: inline;
                margin: 0 5px;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }

            .pagination-container .pagination .disabled {
                color: #ccc;
                pointer-events: none;
            }

            .pagination-container .pagination .active {
                background-color: #007bff;
                color: #fff;
                border-color: #007bff;
            }
</style>
<div class="container_content">
    <div class="text-center"><p class="fs-4 fw-bold">Quản lý đơn hàng</p></div>
    <hr />
    <div class="table-responsive">
        <table class="table table-borderless text-center">
            <thead>
                <tr>
                    <th>
                        <p class="fs-5">#</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Tên khách hàng")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Số lượng")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Tổng tiền")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Ngày")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Phương thức thanh toán")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Trạng thái")</p>
                    </th>
                    <th> <p class="fs-5">Thao tác</p></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                }
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @{
                                ++count;
                            }
                            <p>@Convert.ToInt32(count) </p>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.OrderCustomerName) </p>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.OrderTotalQuantity) </p>
                        </td>
                        <td>
                            @{
                                var price = item.OrderTotalPrice;
                            }
                            <p>@price.ToString("n0") VNĐ</p>
                        </td>
                        <td>
                            <p> @item.OrderDate.ToString("dd/MM/yyyy HH:mm:ss") </p>
                        </td>
                        <td>
                            <p> @Html.DisplayFor(modelItem => item.PaymentMethod!.PaymentMethodName) </p>
                        </td>
                        <td>
                            <p> @Html.DisplayFor(modelItem => item.StatusOrder!.StatusOrderName) </p>
                        </td>
                        <td>
                            <div class="fs-5 action">
                                <a asp-action="OrderDetail" asp-controller="Orders" asp-area="admin" asp-route-id="@item.OrderId" class="btnDetailOrder"> <i class="fa-regular fa-pen-to-square mx-2"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
</div>