@model IEnumerable<NautralShop.Models.Customer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Quản lý khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var successMessage = TempData["SuccessMessage"] as string;
}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif
    }

    .sidebar .nav .nav-item.active > .nav-link .menu-title {
        color: #93c355;
        font-family: "ubuntu-medium", sans-serif;
    }

    .sidebar .nav.sub-menu .nav-item .nav-link.active {
        color: #93c355;
        background: transparent;
    }

    .container_content {
        background-color: #fff;
        width: 100%;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
    }

        .container_content div p {
            color: #000
        }

    .action i {
        color: #93c355;
    }

        .action i:hover {
            color: #578e35;
        }

    .action .fa-trash {
        color: #93c355;
    }

        .action .fa-trash:hover {
            color: #cc0000;
        }

</style>
<div class="container_content">
    <div class="text-center"><p class="fs-4 fw-bold">Quản lý khách hàng</p></div>

    <p>
        @* <a href="@Url.Action("CreateVoucher","customers",new {area = "admin"})" class="btn btn-gradient-primary mt-4">Thêm mới</a> *@
    </p>
    <hr />
    <div class="table-responsive">
        <table class="table table-borderless text-center">
            <thead>
                <tr>
                    <th>
                        <p class="fs-5">#</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Tên Khách hàng")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Địa chỉ")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("Số điện thoại")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("trạng thái")</p>
                    </th>
                    <th>
                        <p class="fs-5">@Html.DisplayName("trạng thái")</p>
                    </th>
                    <th> <p class="fs-5">Thao tác</p></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                }
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @{
                                ++count;
                                var getStatus = (item.CustomerStatus) ? "Đang hoạt động" : "Không hoạt động";
                                var customerStatus = getStatus;
                                var isActiveStatus = (item.CustomerStatus) ? "checked" : "";
                            }
                            <p>@Convert.ToInt32(count) </p>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.CustomerName) </p>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(model => item.CustomerAddress)</p>
                        </td>
                        <td>
                            <p> @Html.DisplayFor(modelItem => item.CustomerPhone) </p>
                        </td>
                        <td>
                            @if (item.CustomerStatus == true)
                            {
                                <p class="statusEmployee ">@customerStatus</p>
                            }
                            else
                            {
                                <p class="statusEmployee text-danger">@customerStatus</p>
                            }
                        </td>
                        <td>
                            <div class="form-check form-switch d-flex justify-content-center mt-0">
                                <input class="form-check-input" type="checkbox" id="isActiveStatus-@item.CustomerId" data-customer-id="@item.CustomerId" @(isActiveStatus) onchange="HandlechangeSwitch(this)">
                            </div>
                        </td>
                        <td>
                            <div class="fs-5 action">
                                <a asp-action="DetailCustomer" asp-controller="Customers" asp-area="admin" asp-route-id="@item.CustomerId" class="btnInfCustomer"><i class="fa-solid fa-circle-info"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="notice" class="position-fixed" role="alert" style="z-index:10000; top:5%; right:2%; background-color: rgba(36, 200, 104, 0.8); border-radius: 2.5rem;">
        <div class="d-flex justify-content-around align-items-center p-3">

            <div>
                <i class="fas fa-check fs-2" style="background-color: rgba(36, 200, 104, 1); border-radius:50%; color:white;"></i>
            </div>

            <div>
                <p class="text-white mb-0 ms-3">@successMessage</p>
            </div>

        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(() => {

        //alert success
        if ($("#notice").is(':visible')) {
            $("#notice").css({ "position": "fixed", "top": "5%", "right": "2%" })

            $("#notice").fadeIn(3000, function () {
                $("#notice").fadeOut(5000)
            });
        }
    });

    function HandlechangeSwitch(checkbox) {
        const customerId = checkbox.getAttribute("data-customer-id");
        const isChecked = checkbox.checked;

        if (isChecked) {
            $.ajax({
                url: "/admin/customers/OnAccountCustomer/" + customerId,
                type: "PUT",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({}),
                success: (res) => {
                    console.log(res);
                    location.reload();
                },
                error: (error) => {
                    console.error("Error update status customer", error);
                }
            });
        } else {
            $.ajax({
                url: "/admin/customers/OffAccountCustomer/" + customerId,
                type: "PUT",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({}),
                success: (res) => {
                    console.log(res);
                    location.reload();
                },
                error: (error) => {
                    console.error("Error update status customer", error);
                }
            });
        }
    }
</script>