@model IEnumerable<NautralShop.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif
    }

    .container_content {
        background-color: #fff;
        width: 100%;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
    }

        .container_content div p {
            color: #b66dff
        }

    .action i {
        color: #b66dff;
    }

        .action i:hover {
            color: #6921b1;
        }

    .action .fa-trash {
        color: #6921b1;
    }

        .action .fa-trash:hover {
            color: #cc0000;
        }

</style>
<div class="container_content">
    <div class="text-center"><p class="fs-4 fw-bold">Danh mục sản phẩm</p></div>

    <p>
        <a href="@Url.Action("create","products",new {area = "admin"})" class="btn btn-gradient-primary mt-4">Thêm mới</a>
    </p>
    <hr />
    <div class="table-responsive">
    <table class="table table-borderless text-center">
        <thead>
            <tr>
                <th>
                    <p class="fs-5">#</p>
                </th>
                <th>
                    <p class="fs-5">@Html.DisplayName("Tên sản phẩm")</p>
                </th>
                <th>
                    <p class="fs-5">@Html.DisplayName("Hình ảnh")</p>
                </th>
                <th>
                    <p class="fs-5">@Html.DisplayName("Giá sản phẩm")</p>
                </th>
                <th>
                    <p class="fs-5">@Html.DisplayName("Tên danh mục")</p>
                </th>
                <th> <p class="fs-5">Thao tác</p></th>
            </tr>
        </thead>
        <tbody>
            @{var count = 0;}
                @foreach (var item in ViewData["ProductList"] as IEnumerable<NautralShop.Models.Product>)
            {
                    <tr>
                    
                        <td>
                            @{
                                ++count;
                            }
                            <p>@Convert.ToInt32(count) </p>
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.ProductName) </p>
                        </td>
                    <td>
                            @{
                                string pathImg = "https://localhost:7234";
                            }
                            <div class="imgProduct w-25 mx-auto">
                                <img src="@pathImg@Html.DisplayFor(modelItem => item.ProductImage)" alt="Hình sản phẩm" class="w-100 rounded h-100" />
                            </div>
                    </td>
                    <td>
                        <p> @Html.DisplayFor(modelItem => item.ProductPrice) VNĐ</p>
                    </td>
                    <td>
                        <p> @Html.DisplayFor(modelItem => item.CategoryName)</p>
                    </td>
                    <td>
                        <div class="fs-5 action">
                            <a asp-action="EditProduct" asp-route-id="@item.ProductId" class="btnEditProduct"><i class="fa-regular fa-pen-to-square me-3"></i></a>
                                <a asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="DeleteProduct"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>
